body{
	background-image:url('color.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}


#wrapper{
  
  padding: 10px;
  margin: auto;
  width: 1021px;

}


 #header {
  
	width: 1010px;
	height: 100px;
	margin-bottom: 10px;
  	font-size: 40px;
 }



